include partials/header 
    link(rel="stylesheet", href="../styles/index_stylesheet.css")
    include partials/navbar

    case timeOfDay 
        when 'morning'
            #main-content.d-flex.flex-column.justify-content-around.align-items-center.morning
                .fade-in 
                    h3 Good Morning, #{user.given_name}
                a(href="/play/morning")#morning.button-17 Morning
                a(href="/play/afternoon")#afternoon.button-17 Afternoon 
                a(href="/play/evening")#evening.button-17 Evening
        when 'afternoon'
            #main-content.d-flex.flex-column.justify-content-around.align-items-center.afternoon
                .fade-in
                    h3 Good Afternoon, #{user.given_name}
                a(href="/play/morning")#morning.button-17 Morning 
                a(href="/play/afternoon")#afternoon.button-17 Afternoon 
                a(href="/play/evening")#evening.button-17 Evening
        default 
            #main-content.d-flex.flex-column.justify-content-around.align-items-center.evening
                .fade-in 
                    h3 Good Evening, #{user.given_name}
                a(href="/play/morning").button-17 Morning 
                a(href="/play/afternoon")#afternoon.button-17 Afternoon 
                a(href="/play/evening")#evening.button-17 Evening

    script(src="../scripts/indexHandler.js") 
    include partials/footer