
include partials/header
    link(rel="stylesheet", href="../styles/index_stylesheet.css")
include partials/navbar

div(style="height: 60px; width: 100vw")
//- - timeOfDay = 'morning'
//- - timeOfDay = 'afternoon'
//- - timeOfDay = 'evening'
case timeOfDay
    when 'morning'
        #main-content.bg-image(style='background-image: url("../assets/morning.jpg"); height: 94vh')
            .mask.mask-custom.d-flex.flex-column.justify-content-around.align-items-center

                a.button-17.slide-in-blurred-top.ripple(href="/play/morning") Good Morning, #{user.given_name}. Click to start your morning right.
                a(href="/play/morning")#morning.button-17.ripple Morning
                a(href="/play/afternoon")#afternoon.button-17.ripple Afternoon
                a(href="/play/evening")#evening.button-17.ripple Evening
                div(style="height: 80px; width: 100vw")
    when 'afternoon'
        #main-content.bg-image(style='background-image: url("../assets/afternoon.jpg")')
            .mask.mask-custom.d-flex.flex-column.justify-content-around.align-items-center

                a.button-17.slide-in-blurred-top.ripple(href="play/afternoon") Good Afternoon, #{user.given_name}.  Let's get you out of that noon slump.
                a(href="/play/morning")#morning.button-17.ripple Morning
                a(href="/play/afternoon")#afternoon.button-17.ripple Afternoon
                a(href="/play/evening")#evening.button-17.ripple Evening
                div(style="height: 80px; width: 100vw")
    default
        #main-content.bg-image(style='background-image: url("../assets/evening.jpg")')
            .mask.mask-custom.d-flex.flex-column.justify-content-around.align-items-center

                a.button-17.slide-in-blurred-top.ripple(href="play/evening") Good Evening, #{user.given_name}. Click to start your wind down.
                a(href="/play/morning").button-17.ripple Morning
                a(href="/play/afternoon")#afternoon.button-17.ripple Afternoon
                a(href="/play/evening")#evening.button-17.ripple Evening
                div(style="height: 80px; width: 100vw")
script(src="../scripts/indexHandler.js")
include partials/footer
