include partials/header.pug 
    link(rel="stylesheet", href="../styles/login_stylesheet.css")
    #background 
        #login-welcome 
            .welcome-text 
                h1 Welcome to your Motivation! 
                h6 Are you ready to Improve Your Day?
            .mid 
                label.rocker
                    input(type="checkbox" unchecked)
                    span.switch-left Yes 
                    span.switch-right Not Yet
    script(src="../scripts/loginScripts.js") 
            