include partials/header.pug
    include partials/navbar.pug
    #login-welcome
        h1 Welcome to your Motivation!
    a(href="/login").button.button-warning Login



    include partials/footer.pug
