//- Navbar
nav.navbar.navbar-light.light-blue.lighten-4.fixed-top(style={background:'#e8eced'})
    //- Navbar Title (where are you)
    a.px-3(href="/")
        img(src="../../assets/home.png" style="height: 30px; width: 30px")
    a.navbar-brand.px-3(href="#")= pageTitle

    //- Collapse:
    button.navbar-toggler.toggler-example(type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation")
        span.dark-blue-text
            i.fas.fa-bars.fa-1x

    //- Collapsible Content

    .collapse.navbar-collapse#navbarSupportedContent1.px-3
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Home
                    span.sr-only - Current
            li.nav-item
                a.nav-link(href="/new_video") New Video
            li.nav-item
                a.nav-link(href="view_collections") View Collections
            li.nav-item
                a.nav-link(href="/logout") Logout
